*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #18191a;
  margin-top: 0;
  margin-bottom: 0;
}
