:root {
  /* Colors */
  --dark-color: #1f2431;
  --light-color: #eef0f3;

  /* Box Model */
  --gap: 1em;
  --max-width: 1200px;
  --border-radius: 4px;

  /* Animations and Transitions */
  --duration: 0.1s;
  --timing-function: ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #208ff7;
    --bg-color: var(--dark-color);
    --text-color: var(--light-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #063cd1;
    --bg-color: var(--light-color);
    --text-color: var(--dark-color);
  }
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --main-color: #0783f7;
    --bg-color: var(--dark-color);
    --text-color: var(--light-color);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --duration: 0s;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  color: var(--main-color);
  font-size: clamp(2rem, 3.5vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);

  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--gap);
}

.project {
  max-width: 300px;
  font-size: .9em;
}

.project__link {
  display: block;
  text-decoration: none;
  background-color: color-mix(in oklab, var(--text-color), transparent 95%);
  border-radius: var(--border-radius);
  overflow: hidden;

  transition: background-color var(--duration) var(--timing-function);

  &:hover {
    background-color: color-mix(in oklab, var(--text-color), transparent 90%);
  }
}

.project__content {
  padding-right: var(--gap);
  padding-left: var(--gap);

  font-size: .85em;
}

.project__description {
  opacity: .75;
}

.project__capture {
  width: 100%;
}
